* {
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background-color: #222772;
}
a {
    text-decoration: none;
    color:white;    
    height: 15px;
  }
a:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
nav {
    justify-content: space-around;
    width: 100vw;
    height: 14vh;
    transform: translateY(-6vh);
    background: #333;
    border-radius: 7%;
    display: flex;
    align-items: center; 
    
}

.logo {

    letter-spacing: 4px;
    top:2.2vh;
    position: relative;
}

.nav-list {
    list-style: none;
    position: relative;
    display: flex; 
    top: 2.4vh;
}
.nav-list li {
    margin-left: 50px;   
    letter-spacing: 3px;
}
.mobile-bar {
    display: none;
    cursor: pointer;
    
}
.mobile-bar div{
    display: flex; 
    background: white;
    margin: 6px;
    height: 1px;
    width: 30px;
   
}

@media (max-width: 800px) {
    .nav-list {
        display: none;
    }
    .mobile-bar {
        display: block;
        position: relative;
        right: 2vw;
        top: calc(3px + 2vh);
    }
    .mobile-bar:hover {
        opacity: 0.7;
        transition: opacity 0.3s ease;
    }
}

.container,.container2 {
    position: relative;
    background-color: transparent;

}
.container {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 60px;
}
.container2 {
    display: flex;
    background-color: midnightblue; 
    border-radius: 10%;
    top: 550px; 
    height: 160vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}
.container2 h1{
    position: relative;
    top: 120px;
    font-size: 60;
}
.baixo {
    position: relative;
    top: 1000px;
    width: 100vw;
    height: 200px;
    left: -5px;
    background-color: #727772;
}

body,.fundoHeader
 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.fundoHeader {
    background-color: transparent; 
    border-radius: 12px
}

.titulo {
    position: relative;
    font-size: 130;
    top: 230px;
    left: 35%;
}
.titulo2 {
    position:relative;
    top:390px; 
    left:39px;
    font-size:30px;
    opacity: 0;
    animation: mymove2 3s ;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
.espaco {
    position: relative;
    margin-bottom: 20px;
}
.texto1 {
    position:relative;
    top:120px; 
    font-size:30px; 
    width: 70vw;
}
.animacao {
    width: 100px;
    height: 100px;
    color:rgb(80, 176, 255);
    position: relative;
    animation: mymove 3s;
  }
  @keyframes mymove {
    from {top: -100px;}
    to {top: 0px;}
  }

  @keyframes mymove2 {
    from {
        top: 500px;
        opacity: 0;
    }
    to {
        top: 300px;
    opacity: 1;}
    }
  .intro {
    left: 110px;
    position: absolute;
  }
 .roda {
    left: 250px;
    position: absolute;
 }
